/* para titulos*/
@font-face  {
  font-family: 'mifuente';
  src: url(BrookfieldDemoRegular.ttf);
}
@font-face  {
  font-family: 'maqueta';
  src: url(Britney\ Valentine\ -\ TTF.ttf);
}
@font-face  {
  font-family: 'maquetz';
  src: url(Black\ Way\ -\ Personal\ Use.otf);
}
@font-face  {
  font-family: 'maquetx';
  src: url(MARSONFree.otf);
}
/*marge*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*body*/
body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(5deg, #505467 0, #1f3259 50%, #00154b 100%);
  background-size: cover;
  background-position: center center;
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
/*contenedor*/
.contenedor{
  padding: 10px 0;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  /*titulos*/

}
#titulo{
  color: #ffd22f;
font-family: 'mifuente';
 font-size:  40px;
 text-align: center;
 margin-top: -10px;
 margin-left: 0px;


}
#titulo2{
  color: #ffd22f;
font-family: 'mifuente';
 font-size:  40px;
 text-align: center;
 margin-top: 0px;
 margin-left: 0px;
 padding: -20px ;
 border-top: 6px solid #0d6842;
 margin-top: -40px;
}
#titulo3{
  color: #ffd22f;
font-family: 'mifuente';
 font-size:  40px;
 text-align: center;
 margin-top: 20px;
 margin-left: 0px;
 border-top: 6px solid #0d6842;

}
#titulo4{
  color: #ffd22f;
font-family: 'mifuente';
 font-size:  40px;
 text-align: center;
 margin-top: 20px;
 margin-left: 0px;
 border-top: 6px solid #0d6842;
 }
/*frase**/
.inicio{
  color: #ffffff;
font-family: 'tahoma';
text-align: center;
font-size:  10px;
padding: -20px ;
margin-top: -10px;
 margin-left: 0px;

}
.imag{
  align-items: center;
}
/*inicio*/
.container-all{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 20px 0px;
  margin-top: 10px;
  margin-inline-end: auto;
  border-top: 6px solid #0d6842;
  overflow: hidden;
   }
.container-all img{
  width: 450px;
 height: 350px;
  float: left;
  margin-right: 30px;
  margin-bottom: 40px;
  margin-top: 20px;
    margin-left: 0px;
 
}

.container-all p{
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  margin-top: 100px;
    text-align: justify;
    align-items: center;
    font-family: 'verdana';
   
    
}
.container-all1{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 20px 0px;
  margin-top: -70px;
  margin-inline-end: auto;
  overflow: hidden;
   }
.container-all1 img{
  width: 450px;
 height: 350px;
  float: left;
  margin-right: 30px;
  margin-bottom: 40px;
  margin-top: 20px;
    margin-left: 0px;
 
}

.container-all1 p{
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  margin-top: 100px;
    text-align: justify;
    align-items: center;
    font-family: 'verdana';
   
    
}

   
/* inicio*/
header{
  background: #1f3259;
  border-top: 6px solid #0d6842;
}
header img{
   width: 200px;
   margin-left: 50px;
   
}
nav{
  display: flex;
   flex-direction:row;
   text-align: right;
   padding: 30px 50px 0 0;
   padding-bottom: 30px;
   float: right;
}
a{
   padding: 5px 12px;
   text-decoration: underline;
   font-weight: bold;
   color: #ffffff;
   text-decoration: none;
   margin-right: 10px;
}

/* Galeria */
.galeria-port{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.imagen-port{
  width: 30%;
  margin-bottom: 20px;
  padding: 5px 15px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  background-image: linear-gradient(5deg, #ffffff 0, #e5e8ec 50%, #b4c0d0 100%);
}
.imagen-port > img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}

.hover-galeria{
  position: absolute;
  width: 92%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: rgba(9, 20, 58, 0.5);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.hover-galeria img{
  width: 200px;
}

.hover-galeria p{
  color: #fff;
}

.imagen-port:hover .hover-galeria{
  transform: scale(1);
}
/* slider cartelera*/
#train-slider{
  font-family: sans-serif;
  margin: auto;
  background-image: linear-gradient(5deg, #ffffff 0, #e5e8ec 50%, #b4c0d0 100%);
  max-width: 1500px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  margin-top: 20px;
}

#train-slider > ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#train-slider > ul.slider{
  position: relative;
  max-width: 1500px;
  width: 100%;
  height: 300px;
}

#train-slider > ul.slider h1{
  position:absolute;
  margin-bottom: 0px;
  margin-top: -10px;
  margin-left: 0px;
  color: #ffffff;
  padding: 10px;
  width: 100%;
  left: 50%;
  top: 100px;
  font-size: 50px;
  font-family: 'maqueta';
  transform: translate(-50%, -50%);
  text-align: center;
  object-fit: cover;
}
#train-slider > ul.slider h2{
  position:absolute;
  margin-bottom: 0px;
  margin-top: -20px;
  margin-left: 0px;
  color: rgb(24, 41, 65);
  padding: 20px;
  left: 50%;
  top: 100px;
  width: 100%;
  font-size: 90px;
  font-family: 'Times_New_Roman';
  transform: translate(-50%, -50%);
  text-align: center;
  object-fit: cover;
}
#train-slider > ul.slider h3{
  position:absolute;
  margin-bottom: 20px;
  margin-top: -20px;
  margin-left: 0px;
  color: rgb(255, 255, 255);
  background-color: rgba(33, 121, 69, 0.5);
  padding: 20px;
  left: 50%;
  top: 100px;
  width: 100%;
  font-size: 70px;
  font-family: 'Symbo';
  transform: translate(-50%, 60%);
  text-align: center;
  object-fit: unset;
}
#train-slider > ul.slider h4{
  position:absolute;
  margin-bottom: 0px;
  margin-top: -20px;
  margin-left: 0px;
  color: rgb(255, 255, 255);
  padding: 20px;
  left: 50%;
  top: 100px;
  width: 58%;
  font-size: 30px;
  font-family: 'Arial_black';
  transform: translate(-50%, 140%);
  text-align: center;
  object-fit: cover;
}
#train-slider > ul.slider h5{
  position:absolute;
  margin-bottom: 0px;
  margin-top: -20px;
  margin-left: 0px;
  color: rgb(255, 255, 255);
  padding: 20px;
  left: 50%;
  top: 100px;
  width: 80%;
  font-size: 30px;
  font-family: 'verdana';
  transform: translate(-50%, 15%);
  text-align: center;
  object-fit: cover;
  }
  #train-slider > ul.slider span{
    position:absolute;
    margin-bottom: 0px;
    margin-top: -10px;
    margin-left: 0px;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    left: 50%;
    top: 100px;
    font-size: 100px;
    font-family: 'maquetz';
    transform: translate(-50%, -50%);
    text-align: center;
    object-fit: cover;
  }
  #train-slider > ul.slider h6{
  position:absolute;
  color: rgb(255, 255, 255);
  background-color: rgba(53, 51, 51, 0.692);
  padding: 20px;
  left: 50%;
  top: 100px;
  width: 70%;
  font-size: 25px;
  font-family: 'calibri';
  transform: translate(-50%, 15%);
  text-align: left;
  object-fit: cover;
    }
    #train-slider > ul.slider ol{
      position:absolute;
  color: rgb(255, 255, 255);
  background-color: rgba(134, 37, 37, 0.8);
  padding: 20px;
  left: 50%;
  top: 100px;
  width: 40%;
  font-size: 22px;
  font-family: 'tahoma';
  transform: translate(-0%, 20%);
  text-align: left;
  object-fit: cover;
        }
        #train-slider > ul.slider ul{
      position:absolute;
      color: rgb(134, 53, 53);
      padding: 20px;
      left: 50%;
      top: 100px;
      width: 40%;
      font-size: 200px;
      font-family: 'maquetx';
      transform: translate(-90%, 15%);
      text-align: left;
      object-fit: cover;
            }
#train-slider > ul.slider p{
  position:absolute;
  color: rgb(24, 41, 65);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  left: 50%;
  top: 100px;
  width: 40%;
  font-size: 25px;
  font-family: 'Times_New_Roman';
  transform: translate(10%, 30%);
  text-align: left;
  object-fit: cover;
}
#train-slider > ul.slider a{
  position:absolute;
  color: rgb(255, 255, 255);
  background-color: rgba(134, 37, 37, 0.8);
  padding: 20px;
  left: 50%;
  top: 100px;
  width: 20%;
  font-size: 40px;
  font-family: 'Tahoma';
  transform: translate(-170%, 180%);
  text-align: left;
  object-fit: cover;
        }
#train-slider > ul.slider li {
    position: absolute;
    left: 0px;
    top: -10px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}
#train-slider > ul.slider li img{
  width: 100%;
  height: 600px;
  object-fit: cover;
}

#train-slider > ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

#train-slider > ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

#train-slider > .menu{
  text-align: center;
  margin-top: 300px;
  margin-left: 0px;
  
}

#train-slider > .menu li{
  display: inline-block;
}

#train-slider > .menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(5deg, #505467 0, #1f3259 50%, #00154b 100%);
  padding: 8px;
  width: 10px;
  height: 10px;
  border-radius: 60%;
  align-items: center;
}
/*  Para tus ideas */

.about-ideas{
  
  padding-bottom: 30px;
}


.servicio-cont{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.servicio-ind{
  width: 28%;
  text-align: center;

}

.servicio-ind img{
  width: 90%;
  height: 90%;
}

.servicio-ind h3{
  margin: 10px 0;
  align-items: center;
  font-family: 'Arial';
  color: #fff;
}

.servicio-ind p{
  color: #fff;
  font-weight: 300;
  text-align: center;
  align-items: center;
  font-family: 'verdana';
}
.servicio-ind h4{
  margin: 5px 0;
  text-align: center;
  font-family: 'Monaco';
  font-size:  20px;
  align-items: center;
  
  
}

/*Datos de la pagina*/
 footer{
  background: #1f3259;
  padding: 20px 0 5px 0;
  margin: auto;
  margin-top: 20px;
  margin-left: 0px;
  overflow: hidden;
  text-align: center;
  border-top: 6px solid #0d6842;
}
.datospag{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 10px;
  border-bottom: 4px solid #1f3259;
}
.dpconter{
  text-align: center;
}
.dpconter h4{
  color: #fdfdfd;
  border-bottom: 3px solid #00154b;
  font-family: 'Bahnschrift Light Condensed';
  color: rgb(255, 255, 255);
}
.dpconter p{
  color: #ccc;
  padding-bottom: 20px;
}
@media screen and (max-width:1800px){

  header{
      background-position: center;
  }



/* Footer */

.datospag{
  flex-direction: column;
  border: none;
}

.dpconter{
  margin-bottom: 20px;
  text-align: center;
}

.dpconter h4{
  border: none;
}

.dpconter p{
  color: #ccc;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 20px;
}

.creador{
  font-size: 20px;
}
  /* Galeria */

  .imagen-port{
    width: 44%;
}
/* servicios */

.servicio-cont{
  justify-content: center;
  flex-direction: column;
}

.servicio-ind{
  width: 100%;
  text-align: center;
}

.servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
  margin-bottom: 60px;
}

.servicio-ind img{
  width: 90%;
}
}


@media screen and (max-width:1500px){

 header{
      background-position: center;
  }
  .contenedor{
    max-width: 1200px;
    align-items: center;
     }

     /*titulos*/
     .titulo{
      font-size:  10px;
      text-align: center;
      margin-top: 0px;
      margin-left: -5px;
     }
     .titulo2{
      font-size:  20px;
      text-align: center;
      margin-top: 0px;
      margin-left: 0px;
     }
     .titulo3{
      font-size:  20px;
      text-align: center;
      margin-top: 0px;
      margin-left: 0px;
     }

  /*inicio*/
  .container-all img{
    width: 450px;
  height: 350px;
   padding-bottom: 10px;
 }
 .container-all1 img  {
   width: 450px;
  height: 350px;
  margin-top: 40px;
 }
 .container-all p {
   font-size: 18px;
   padding-bottom: 20px;
 }
 .container-all1 p{
  font-size: 18px;
  padding-bottom: 50px;
  margin-top: 80px;
 }
  /*slider*/
  #train-slider > ul.slider h1{ /**/
    font-size: 35px;
  }
  #train-slider > ul.slider h3{
    font-size: 50px;
  }
#train-slider > ul.slider h2{
  font-size: 50px;
}
#train-slider > ul.slider h4{
  font-size: 20px;
}
#train-slider > ul.slider h5{
  font-size: 20px;
}
#train-slider > ul.slider h6{
  font-size: 20px;
}
#train-slider > ul.slider p{
  font-size: 20px;
 }
#train-slider > ul.slider span{
  font-size: 70px;
}
#train-slider > ul.slider ul{ 
  font-size: 175px;
  transform: translate(-90%, 15%);
}
#train-slider > ul.slider ol{ 
  font-size: 20px;
}
#train-slider > ul.slider a{ 
  font-size: px;
}
  /*slider*/
 /* Galeria */

 .imagen-port{
  width: 95%;
}
/* Footer */

.datospag{
  flex-direction: column;
  border: none;
}

.dpconter{
  margin-bottom: 20px;
  text-align: center;
}

.dpconter h4{
  border: none;
}

.dpconter p{
  color: #ccc;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 20px;
}

.creador{
  font-size: 20px;
}
 
 }
 @media screen and (max-width:1200px){
    /*slider*/
  #train-slider > ul.slider h1{
    font-size: 25px;
  }
#train-slider > ul.slider h2{
  font-size: 50px;
}
#train-slider > ul.slider h3{
  font-size: 50px;
}
#train-slider > ul.slider h4{
  font-size: 20px;
}
#train-slider > ul.slider h5{
  font-size: 20px;
}
#train-slider > ul.slider h6{
  font-size: 20px;
}
#train-slider > ul.slider p{
  font-size: 15px;
}
#train-slider > ul.slider span{
  font-size: 70px;
}
#train-slider > ul.slider ul{ 
  font-size: 150px;
  transform: translate(-90%, 15%);
}
#train-slider > ul.slider ol{ 
  font-size: 15px;
}
#train-slider > ul.slider a{ 
  font-size: 25px;
}
  /*slider*/
 }

 @media screen and (max-width:800px){

  header{
       background-position: center;
   }
   
   .contenedor{
     max-width: 1200px;
     align-items: center;
      }
 
      /*titulos*/
      #titulo{
       font-size:  20px;
       text-align: center;
       margin-top: 0px;
       margin-left: -5px;
      }
      #titulo2{
       font-size:  20px;
       text-align: center;
       margin-top: 0px;
       margin-left: 0px;
      }
      #titulo3{
       font-size:  20px;
       text-align: center;
       margin-top: 0px;
       margin-left: 0px;
      }
      #titulo4{
        font-size:  20px;
        text-align: center;
        margin-top: 0px;
        margin-left: 0px;
       }
  
 
   /*inicio*/
   .container-all img{
     width: 450px;
   height: 350px;
    padding-bottom: 10px;
  }
  .container-all1 img  {
    width: 450px;
   height: 350px;
   margin-top: 40px;
  }
  .container-all p {
    font-size: 18px;
    padding-bottom: 20px;
  }
  .container-all1 p{
   font-size: 18px;
   padding-bottom: 50px;
   margin-top: 80px;
  }

  /*slider*/
  #train-slider > ul.slider h1{
    font-size: 25px;
  }
#train-slider > ul.slider h2{
  font-size: 50px;
}
#train-slider > ul.slider h3{
  font-size: 50px;
}
#train-slider > ul.slider h4{
  font-size: 20px;
}
#train-slider > ul.slider h5{
  font-size: 20px;
}
#train-slider > ul.slider h6{
  font-size: 18px;
}
#train-slider > ul.slider p{
  font-size: 15px;
}
#train-slider > ul.slider span{
  font-size: 70px;
}
#train-slider > ul.slider ul{ 
  font-size: 150px;
  transform: translate(-90%, 15%);
}
#train-slider > ul.slider ol{ 
  font-size: 15px;
}
#train-slider > ul.slider a{ 
  font-size: 25px;
}
  /*slider*/
  /* Galeria */
 
  .imagen-port{
   width: 95%;
 }
 /* Footer */
 
 .datospag{
   flex-direction: column;
   border: none;
 }
 
 .dpconter{
   margin-bottom: 20px;
   text-align: center;
 }
 
 .dpconter h4{
   border: none;
 }
 
 .dpconter p{
   color: #ccc;
   border-bottom: 1px solid #f2f2f2;
   padding-bottom: 20px;
 }
 
 .creador{
   font-size: 20px;
 }
  
  }
  @media screen and (max-width:700px){
      /*slider*/
  #train-slider > ul.slider h1{
    font-size: 25px;
  }
#train-slider > ul.slider h2{
  font-size: 50px;
}
#train-slider > ul.slider h3{
  font-size: 50px;
}
#train-slider > ul.slider h4{
  font-size: 20px;
}
#train-slider > ul.slider h5{
  font-size: 15px;
}
#train-slider > ul.slider h6{
  font-size: 18px;
  
}
#train-slider > ul.slider p{
  font-size: 15px;
}
#train-slider > ul.slider span{
  font-size: 70px;
}
#train-slider > ul.slider ul{ 
  font-size: 150px;
  transform: translate(-90%, 15%);
}
#train-slider > ul.slider ol{ 
  font-size: 15px;
}
#train-slider > ul.slider a{ 
  font-size: 25px;
}
  }
  @media screen and (max-width:600px){

    header{
      background: #1f3259;
      border-top: 6px solid #0d6842;
    }
    header img{
       width: 100px;
       margin-left: 50px;
       
    }
     .contenedor{
       max-width: 1200px;
       align-items: center;
        }
   
        /*titulos*/
        #titulo{
         font-size:  20px;
         text-align: center;
         margin-top: 0px;
         margin-left: -5px;
        }
        #titulo2{
         font-size:  20px;
         text-align: center;
         margin-top: 0px;
         margin-left: 0px;
        }
        #titulo3{
         font-size:  20px;
         text-align: center;
         margin-top: 0px;
         margin-left: 0px;
        }
        #titulo4{
          font-size:  20px;
          text-align: center;
          margin-top: 0px;
          margin-left: 0px;
         }
   
     /*inicio*/
     .container-all img{
       width: 450px;
     height: 350px;
      padding-bottom: 10px;
    }
    .container-all1 img  {
      width: 450px;
     height: 350px;
     margin-top: 40px;
    }
    .container-all p {
      font-size: 18px;
      padding-bottom: 20px;
    }
    .container-all1 p{
     font-size: 18px;
     padding-bottom: 50px;
     margin-top: 80px;
    }
     /*slider*/
  #train-slider > ul.slider h1{
    font-size: 25px;
  }
#train-slider > ul.slider h2{
  font-size: 50px;
}
#train-slider > ul.slider h3{
  font-size: 50px;
}
#train-slider > ul.slider h4{
  font-size: 20px;
}
#train-slider > ul.slider h5{
  font-size: 15px;
}
#train-slider > ul.slider h6{
  font-size: 15px;
}
#train-slider > ul.slider p{
  font-size: 15px;
}
#train-slider > ul.slider span{
  font-size: 70px;
}
#train-slider > ul.slider ul{ 
  font-size: 150px;
  transform: translate(-90%, 15%);
}
#train-slider > ul.slider ol{ 
  font-size: 15px;
}
#train-slider > ul.slider a{ 
  font-size: 25px;
}
    /* Galeria */
   
    .imagen-port{
     width: 95%;
   }
   /* Footer */
   
   .datospag{
     flex-direction: column;
     border: none;
   }
   
   .dpconter{
     margin-bottom: 20px;
     text-align: center;
   }
   
   .dpconter h4{
     border: none;
   }
   
   .dpconter p{
     color: #ccc;
     border-bottom: 1px solid #f2f2f2;
     padding-bottom: 20px;
   }
   
   .creador{
     font-size: 20px;
   }
    
    }
    @media screen and (max-width:500px){

      header{
        background: #1f3259;
        border-top: 6px solid #0d6842;
      }
      header img{
         width: 100px;
         margin-left: 50px;
         
      }
       .contenedor{
         max-width: 1200px;
         align-items: center;
          }
     
          /*titulos*/
          #titulo{
           font-size:  20px;
           text-align: center;
           margin-top: 0px;
           margin-left: -5px;
          }
          #titulo2{
           font-size:  20px;
           text-align: center;
           margin-top: 0px;
           margin-left: 0px;
          }
          #titulo3{
           font-size:  20px;
           text-align: center;
           margin-top: 0px;
           margin-left: 0px;
          }
     
       /*inicio*/
       .container-all img{
         width: 450px;
       height: 350px;
        padding-bottom: 10px;
      }
      .container-all1 img  {
        width: 450px;
       height: 350px;
       margin-top: 40px;
      }
      .container-all p {
        font-size: 18px;
        padding-bottom: 20px;
      }
      .container-all1 p{
       font-size: 18px;
       padding-bottom: 50px;
       margin-top: 80px;
      }
       /*slider*/
    #train-slider > ul.slider h1{
      font-size: 20px;
    }
  #train-slider > ul.slider h2{
    font-size: 50px;
  }
  #train-slider > ul.slider h3{
    font-size: 50px;
  }
  #train-slider > ul.slider h4{
    font-size: 20px;
  }
  #train-slider > ul.slider h5{
    font-size: 15px;
  }
  #train-slider > ul.slider h6{
    font-size: 15px;
  }
  #train-slider > ul.slider p{
    font-size: 15px;
  }
  #train-slider > ul.slider span{
    font-size: 70px;
  }
  #train-slider > ul.slider ul{ 
    font-size: 150px;
    transform: translate(-90%, 15%);
  }
  #train-slider > ul.slider ol{ 
    font-size: 10px;
  }
  #train-slider > ul.slider a{ 
    font-size: 20px;
  }
      /* Galeria */
     
      .imagen-port{
       width: 95%;
     }
     /* Footer */
     
     .datospag{
       flex-direction: column;
       border: none;
     }
     
     .dpconter{
       margin-bottom: 20px;
       text-align: center;
     }
     
     .dpconter h4{
       border: none;
     }
     
     .dpconter p{
       color: #ccc;
       border-bottom: 1px solid #f2f2f2;
       padding-bottom: 20px;
     }
     
     .creador{
       font-size: 20px;
     }
      
      }
     